<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCj8rig8yYEd7uckMk6p2gtR5N5ktnd4zM</string>
	<key>GCM_SENDER_ID</key>
	<string>763800685173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crackin.code.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-cc-project</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-cc-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763800685173:ios:6c8728a75ae8a555db463c</string>
</dict>
</plist>